@charset "utf-8";

/* #################### font face #################### */
@font-face{
	font-family:"leafy";
	font-style:normal;
	font-weight:normal;
	src:url("../font/leafy/leafy.otf");
}


/* #################### reset css #################### */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0; padding: 0; box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; font-family: "leafy";}
html, body, input, textarea, select, button, table, li, dd, p, b, span, em, strong{-webkit-text-size-adjust: none;}
html{font-family: "leafy"; font-size: 10px; font-weight: 400; line-height: 1.1; color: #212121;}
body{-webkit-text-size-adjust: none;}
html, body{width: 100%; height: 100%;}
h1, h2, h3, h4, h5, h6{font-size: 1.6rem;}
table{border-collapse: collapse; border-spacing: 0;}
table, fieldset, th, td, img{border: none 0;}
td{word-break: break-all;}
ul, ol, menu{list-style: none;}
address, em{font-style: normal;}
a, a:link, a:visited, a:hover, a:active, a:focus{text-decoration: none;}
input, select, textarea{vertical-align: middle;}
img, fieldset{border: 0;}
img{font-size: 0; line-height: 0; vertical-align: top;}
caption{visibility: hidden; overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0;}
label{cursor: pointer;}
pre{white-space: pre-wrap; word-wrap: break-word;}
button{display: inline-block; margin: 0; padding: 0; border: 0; background: none; box-shadow: none; text-align: center; cursor: pointer; vertical-align: middle;}
button::-moz-focus-inner{margin: 0; padding: 0; border: 0;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* #################### html5 ####################*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}


/* #################### color #################### */
:root{
	/* color */
	--color-back: #3b8457;
	--color-font: #f3b73e;
	--color-side-back: #084227;
	--color-side-font: #ec8091;
}

/* #################### font #################### */
.ellipsis{display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/* ---------- font weight ---------- */
.font--light{font-weight: 300 !important;}
.font--normal{font-weight: 400 !important;}
.font--bold{font-weight: 700 !important;}

/* ---------- font style ---------- */
.underline{text-decoration: underline !important;}
.underline_draw{position: relative;}
.underline_draw::after{position: absolute; left: 0; bottom: 0; display: block; content: ""; width: 100%; height: 1px; background: #212121;}

.center{text-align: center !important;}
.left{text-align: left !important;}
.right{text-align: right !important;}

@media screen and (min-width: 901px) {
	.pc{display: block !important;}
	.tablet{display: block !important;}
	.mobile{display: none !important;}	
}